@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background: #8D77FE;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #B0A0FC;
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
  line-height: 2.5rem;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.input_field input[type="email"],
.input_field input[type="password"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}


.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #0900FF;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}



/* Password validation styles */
/* The message box is shown when the user clicks on the password field */
#message , #message1{
  display:none;
  color: #000;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  content: "✔";
  margin-right: 10px;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}
.pinvalid{
  border-bottom: 1px solid red;
}
.pvalid{
  border-bottom: 0px;
}

.invalid:before {
  position: relative;
  content: "✖";
  margin-right: 10px;
}
